table.imxt-tree-content a.imxt-junction-open,
table.imxt-tree-content a.imxt-junction-closed {
	background-image: url("img/tree-arrows.gif");
	background-repeat: no-repeat;
}

div.imxt-vista table.imxt-head tr.imxt-columns {
	background-color: white;
	background-repeat: repeat-x;
	background-position: bottom;
	background-image: url("img/secondary-enabled.gif");
}


div.imxt-vista table.imxt-head th.imxt-sorted {
	background-color: #F2F9FC;	
	background-image: url("img/secondary-enabled.gif");	
}

div.imxt-vista table.imxt-head th.imxt-prelight {
	background-color: #E3F7FF;
	background-image: url("img/secondary-enabled.gif");
}

table.imxt-tree-content a {
	text-decoration: none;
	color: #000000;
}

table.imxt-tree-content a:hover {
	text-decoration: none;
	color: #000000;
}